<header>
    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/view-engines">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>